<div class="container">
  <h1>Return a book</h1>
  <p>
    Notify us when you have returned a book you previously borrowed so we can
    put it back in the shelves for others readers to get it.
  </p>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Book reference</mat-label>
      <input
        type="text"
        placeholder="Fill in the book reference"
        aria-label="Book reference"
        matInput
      />
      </mat-form-field>
      <button type="submit" mat-button-primary>Submit</button>
  </form>
</div>
