<div class="container">
  <h1>Return a book</h1>
  <p>
    Notify us when you have returned a book you previously borrowed so we can
    put it back in the shelves for others readers to get it.
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Book To Return</mat-label>
      <mat-select name="book">
        <mat-option *ngFor="let book of books" [value]="book._id">
          {{ book.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <mat-select name="user">
        <mat-option *ngFor="let user of users" [value]="user._id">
          {{ user.firstName }} {{ user.lastName?.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
