<div class="container">
  <h1>Borrow a book</h1>
  <p>
    Find your next read from our collection and borrow it using the form below.
  </p>

  <form class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Favorite Book</mat-label>
      <mat-select name="book">
        <mat-option *ngFor="let book of books" [value]="book._id">
          {{ book.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <mat-select name="user">
        <mat-option *ngFor="let user of users" [value]="user._id">
          {{ user.firstName }} {{ user.lastName?.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" (ngSubmit)="onSubmit($event)" mat-button-primary>
      Submit
    </button>
  </form>
</div>
