.book-card {
  margin: 20px;
}

.action {
  margin-right: 10px;
}

.ref {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

@media screen and (min-width: 901px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .book-card {
    max-width: 500px;
    margin: 20px;
  }  
}

@media screen and (max-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .book-card {
    min-width: 300px;
  }
}