<mat-list class="book-list">
  <div class="grid">
    <mat-card *ngFor="let book of books" class="book-card">
      <mat-card-title>{{ book.title }} <span class="ref">(ref: {{ book.id }})</span></mat-card-title>
      <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ book.excerpt }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="action" mat-button>View</button>
        <button class="action" mat-button>Borrow</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-list>
