.nav-container {
  display: flex;
  justify-content: center;
  background-color: #673ab7;
  padding-right: 10px;
}

.menu {
  min-height: 50px;
  max-width: 1200px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 1199px) {
  .app-title {
    padding-left: 10px;
  }    
}

.nav-link {
  color: white;
  margin: 5px 10px;
}

.nav-link:hover {
  border-bottom: solid orange 3px;
}

.active {
  border-bottom: solid lime 3px;
}
